header {
	width: 100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: white;
	margin-bottom:0px;
	margin-top: -10px;
	
	}
